.card-item {
    @include widthAndHeight(340px);    
    position: relative;
    text-align: left;    
    cursor: pointer;

    .card-item-cover{
        @include widthAndHeight(100%);
        border-radius: 10px;    
    }

    .card-item-name{
        position: absolute;
        bottom: 16px;
        left: 16px;
        font-size: 18px;    
        font-weight: 700;
        max-width: 60%;
        color: $white;
    }
}

@media only screen and (max-width : 400px) {
    .card-item, .card-item-cover {
        width: 100%;
        height: 255px;
    }
}