.collapse-container{
    margin: 50px auto;
    @include flexCenter;
    flex-direction: column;
    gap: 30px;
}

.collapse-item {
    width: 80%;    
    margin: 0 auto;    
    border-radius: 5px;
    background-color: $white;

    .collapse-header {
        width: 100%;
        border: none;
        border-radius: 10px;
        @include flexSpaceBetween;
        padding: 10px 20px 10px 15px;
        background-color: $primary;

        h3 {
            color: $white;
            font-weight: 700;
            font-size: 24px;
            font-style: bold;
        }

        .arrow {
            @include widthAndHeight(10px);  
            border: solid $white;
            border-width: 0 3px 3px 0;            
            transform: rotate(45deg);
            transition: transform 0.3s ease;
            cursor: pointer;
        }

        .up {
            transform: rotate(45deg);
        }

        .down {
            transform: rotate(-135deg);
        }
    }

    .collapse-content {
        border-radius: 0 0 5px 5px;        
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;  
        background-color: $gray;  
        
        &.open {
            @include flexCenter;
            max-height: 100vh;            
        }
        
        p {
            color: $black;
            font-size: 16px;           
            padding: 20px;
        }
    }
}

@media only screen and (max-width : 400px) {
    .collapse-container { 
        margin: 20px auto;
        gap: 20px;
        
        .collapse-item{
            width: 95%;
        }
        

        .collapse-header {
            h3 {
                font-size: 14px;
            }
        }

        .collapse-content {
            p {
                font-size: 12px;
            }           
        }
    }
}