.collapse-container{
    margin: 50px auto;    
    max-width: 1240px;
    width: 95%;   
    @include flexCenter;
    flex-direction: column;
    gap: 30px;

    @media only screen and (max-width : 600px){
        margin: 20px auto;
        gap: 20px; 
    }
}

.collapse-item {
    width: 80%;    
    margin: 0 auto;    
    border-radius: 5px;
    background-color: $white;

    @media only screen and (max-width : 600px)
    {
        width: 100%;
    }

    .collapse-header {
        width: 100%;
        border: none;
        border-radius: 10px;
        @include flexSpaceBetween;
        gap: 20px;
        padding: 10px 20px 10px 15px;
        background-color: $primary;

        h3 {
            color: $white;
            font-weight: 700;
            font-size: 24px;
            font-style: bold;

            @media only screen and (max-width : 600px){
                font-size: 13px;
            }
        }

        .arrow {           
            @include widthAndHeight(32px);
            transition: transform 0.3s ease;
            cursor: pointer;

            @media only screen and (max-width : 600px){
                @include widthAndHeight(16px);
            }
        }

        .up {
            transform: rotate(0deg);
        }

        .down {
            transform: rotate(180deg);
        }
    }

    .collapse-content {
        border-radius: 0 0 5px 5px;        
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;  
        background-color: $grey;  
        
        &.open {
            @include flexCenter;
            max-height: 100vh;            
        }
        
        p {
            color: $black;
            font-size: 16px;           
            padding: 20px;

            @media only screen and (max-width : 600px){
                font-size: 12px;
            }
        }

        ul{
            width: 100%;
            list-style: none;  
            font-size: 16px;           
            padding: 20px;
            display: flex;
            flex-direction: column; 
            
            @media only screen and (max-width : 600px){
                font-size: 12px;
            }
        }
    }
}