.card-container{
    max-width: 1240px;
    width: 95%;
    margin: 50px auto;
    background-color: $grey;
    border-radius: 25px;

    @media only screen and (max-width : 888px){
        background-color: $white;
        margin: 20px auto;
    }

    .card-list{
        max-width: 1240px;
        display: grid;
        grid-template-columns: 340px 340px 340px;
        grid-template-rows: 340px;
        column-gap: 60px;
        row-gap: 50px;
        list-style: none;
        padding: 50px;       

        @media only screen and (max-width : 1340px){
            grid-template-columns: 47% 47%;
            grid-template-rows: 340px;
        }

        @media only screen and (max-width : 888px){
            padding: 0px;
            grid-template-columns: 100%;
            grid-template-rows: 255px;
            gap: 22px;
        }
    }
}