.card-container{
    max-width: 1240px;
    width: 95%;
    margin: 20px auto;
    background-color: $grey;
    border-radius: 25px;

    @media only screen and (max-width : 450px){
        background-color: $white;
        margin: 20px auto;
    }

    .card-list{
        max-width: 1240px;
        @include flexLeft;
        flex-wrap: wrap;     
        gap: 50px;
        list-style: none;
        padding: 50px;

         @media only screen and (max-width : 450px){
            padding: 0px;
            gap: 22px;
        }
    }
}