.banner{
    margin: 20px auto;
    width: 95%;
    max-width: 1240px;
    height: 223px;
    @include flexCenter;
    position: relative;
    border-radius: 25px;
    
    .bannerImg{
        border-radius: 25px;
        object-fit: cover;
        @include widthAndHeight(100%);
    }

    .bannerBackground{
        position: absolute;
        @include widthAndHeight(100%);
        border-radius: 25px;    
        background: $bannerOpacity;
        mix-blend-mode: darken;
    }

    h1{
        color: white;
        position: absolute;
        @include widthAndHeight(100%);
        @include flexCenter;
        font-size: 48px;
        text-shadow: 0 4px 4px rgb(0, 0, 0);
        padding: 30px; 
        
        @media only screen and (max-width : 675px)
        {
            font-size: 24px;                   
            padding: 20px;
        }
    }
      
}

@media only screen and (max-width : 675px) {
    .banner, .bannerBackground, .bannerImg{
        height: 111px;  
        border-radius: 10px;        
    }    
}